{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <title>Treasure Hunt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #leaderboard {
          width: 15%;
          max-width: 400px;
          height: 100%;
          background-color: #1f1919da;
          position: fixed;
          z-index: 2;
      }
      #leader-table-heading {
          font-size: 30px;
          /* margin-top: 20px */
          text-align: center;
      }
      #leader-table {
          position: relative;
          padding-left: 10px;
          padding-right: 10px;
          color: white;
          font-size: 25px;
          width: 100%;
      }
      .leader-table-row {
        position: relative;
          font-size:10px;
      }
      .name-col{
        position: relative;
        width: 100px;   
      }
    </style>
    <script src="{% static 'draw/vendor/js/GlobalConstants.js' %}"></script>
  </head>
  <body>
    <div id="leaderboard">
        <table id="leader-table">
            <tr id="leader-table-heading">
                <td>Recent Treasures</td>
            </tr>
            
        </table>
        <!-- {{TreasureData}} -->
    </div>
    <div id="map"></div>
    <script>
        // import("../../static/draw/vendor/js/GlobalConstants.js");
        var map;
        var marker;
        var mapID = document.getElementById('map');
        function htmlDecode(input){
            var e = document.createElement('div');
            e.innerHTML = input;
            // handle case of empty input
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }
        // var coord = getLocation();
        // console.log(coord);
        function getLocation() {
            if (navigator.geolocation) {
                var current = navigator.geolocation.getCurrentPosition(success, showError);
                // console.log(current);
                return current;
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
        serverData = htmlDecode('{{ TreasureData }}');
        // console.log(serverData);
        function USGSOverlay(bounds, image, map) {

            // Initialize all properties.
            this.bounds_ = bounds;
            this.image_ = image;
            this.map_ = map;

            // Define a property to hold the image's div. We'll
            // actually create this div upon receipt of the onAdd()
            // method so we'll leave it null for now.
            this.div_ = null;

            // Explicitly call setMap on this overlay.
            this.setMap(map);
        }
        function initMap() {
            map = new google.maps.Map(mapID, {
                center: {lat: 38, lng: 127},
                zoom: 18    
            });
            serverData =  JSON.parse(serverData);
            for (var i = 0; i < serverData.length; i++) {
                console.log(serverData[i]);
                $('#leader-table').append("<tr class='leader-table-row'><td class='name-col'>" + serverData[i][0] +"</td><td><a href='http://localhost:8000/draw/img/?img=" + serverData[i][5] + "'>" + serverData[i][1] + "</a></td></tr>");
                // var bounds = new google.maps.LatLngBounds(
                // new google.maps.LatLng(serverData[i][0], serverData[i][1]),
                // new google.maps.LatLng(serverData[i][0] + 1.3, serverData[i][1] + 1.3));

                // // The photograph is courtesy of the U.S. Geological Survey.
                // var srcImage = 'https://developers.google.com/maps/documentation/' +
                //     'javascript/examples/full/images/talkeetna.png';
                // console.log(srcImage);
                // // The custom USGSOverlay object contains the USGS image,
                // // the bounds of the image, and a reference to the map.
                // overlay = new USGSOverlay(bounds, srcImage, map);
                new google.maps.Marker({
                    position: {lat: parseFloat(serverData[i][3]), lng: parseFloat(serverData[i][4])},
                    map: map,
                    title: "Treasure"
                });
            getLocation();
            marker = new google.maps.Marker({
                position: {lat: 38, lng: 127},
                map: map,
                title: "You're Here"
            })
            setInterval(function () {
            // console.log('it works' + new Date());
                getLocation();
            },3000);
            

            }
            // google.maps.event.addListener(marker, 'click', function() {window.location.href = marker.url;});
        }
        
        

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    console.log("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    console.log("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    console.log("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    console.log("An unknown error occurred.");
                    break;
            }
        }
        function success(pos) {
            var coord = pos.coords;
            console.log('Your current position is:');
            console.log(`Latitude : ${coord.latitude}`);
            console.log(`Longitude: ${coord.longitude}`);
            console.log(`More or less ${coord.accuracy} meters.`);
            if (coord.accuracy > 1000) {
                return;
            }
            var latlng = {
                lat:coord.latitude,
                lng:coord.longitude
            }
            map.setCenter(latlng);
            marker.setPosition(latlng);

            return coord;
        }
        // function success1(pos) {
        //     var coord = pos.coords;
        //     console.log('Your current position is:');
        //     console.log(`Latitude : ${coord.latitude}`);
        //     console.log(`Longitude: ${coord.longitude}`);
        //     console.log(`More or less ${coord.accuracy} meters.`);
        //     var latlng = {
        //         lat:coord.latitude,
        //         lng:coord.longitude
        //     }
        //     marker.setPosition(latlng);

        //     return coord;
        // }
        

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9njv68P5DEaTEdsG1P4jLwcPlzyZNO94&callback=initMap"
    async defer></script>
  </body>
</html>